/* by default dark theme */

:root {
  --bg-color: #131c2f;
  --bg-light: #1e2a48;
  --font-color: #c5cddb;
  --font-light: #ffffff;
}

/* light theme colors */

.lightMode {
  --bg-color: #e8e6dc;
  --bg-light: #dcdaca;
  --font-color: #3d3d3d;
  --font-light: #131c2f;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  color: var(--font-light);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  transition: all 500ms;
}

#container {
  background-color: inherit;
  padding: 15px;
  text-align: center;
  max-width: 100%;
  width: 1000px;
  position: fixed;
  top: 10%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  flex: 1;
  align-items: center;
}

#search-bar-container,
#user-profile-container,
.stats-container {
  background-color: var(--bg-light);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.stats-container {
  background-color: var(--bg-color);
}

#user-profile-container {
  padding: 30px;
}

#search-bar-container,
#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.search-field {
  width: 100%;
  background-color: var(--bg-light);
  color: var(--font-light);

  border: none;
  margin-left: 10px;
}

.search-field:focus-visible {
  outline: none;
  color: var(--font-light);
}

#search-btn {
  background-color: #0479ff;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0.5;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.margin-top {
  margin-top: 20px;
}

#avatar {
  border-radius: 50% !important;
  height: auto;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: #f0f6fc1a !important;
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px #f0f6fc1a;
  width: 50% !important;
  border: 1px solid #30363d !important;
}

#name {
  font-size: 25px;
}

#joined,
#bio,
.stats-title {
  font-size: 14px;
  color: #9fabb4;
}

#bio {
  text-align: left;
}

#username {
  font-size: 12px;
  color: #0479ff;
  text-decoration: none;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.link-icon {
  margin-right: 5px;
}

.links {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: var(--font-light);
}
